<div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li class="nav-item active"><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", new_signup_path %></li>
    </ul>
  </div>


<div class="banner1" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/contact.jpg); height: 700px;">
    <div class="container">
        <h1 class="h1two">Get the latest updates from Stories</h1>
        <div class="row justify-content-center">
            <div class="col-4">
                <%= simple_form_for @signup do |f| %>
                    <%= f.error_notification %>
                    <%= f.label 'First name' %>
                    <div class="form-inputs">
                        <%= f.input_field :firstname, class: "form-control" %>
                    </div>
                    <%= f.label 'Email' %>
                    <div class="form-inputs">
                        <%= f.input_field  :email, class: "form-control", input_html: { autocomplete: 'email' } %>
                    </div>

                    <div class="form-actions">
                        <%= f.button :submit, 'Join', class: "form-control" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="footer-two">
    <div class="footer-copyright">A SHUTTERBUGG PROJECT</div>
</div>